<!doctype html>

<html>
<head>
    <title>BQB</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/calendar.css">
</head>
<body class="centerAlign">
	<div name="banner">
      <h1> Tasks | Canlendar</h1>
        <p>
          <% if (data.user) { %><%= data.user.username %> |  <% } %>
        </p>
	</div>
    <div name="menu">
    	summary: <input class="form__field" id="eventtext" type="text" name="eventText" placeholder="BQB">
    	<br>
    	startTime: <input class="form__field" id="startTime" type="text" name="eventText" placeholder="2016-05-03T18:03:58+02:00">
    	<br>
    	EndTime  : <input class="form__field" id="EndTime" type="text" name="eventText" placeholder="2016-05-03T18:03:58+02:00">
    	<br>
    	<button class="btn btn--primary btn--inside" id="myButton">click me send who you are</button>
		<li><div id="username"><%= data.user.username %></div></li>
        <li><%= data.user.googleId%></li>
    </div>

	<div name="events" class="leftAlign">
	  <% if (data.calendarList) { %>
		<ul>
			<% for (var i=0; i<data.calendarList.length; i++) { %>
			<li>
				<h4><%= data.calendarList[i].summary %></h4>
				<table border="1">
					<% for (var key in data.calendarList[i]) { %>
					<tr>
						<td><%= key %></td>
						<td><%= JSON.stringify(data.calendarList[i][key]) %></td>
					</tr>
					<% } %>
				</table>
			</li>
			<% } %>
		</ul>
	  <% } %>
	</div>
</body>
 	<script src="/scripts/calendar.js"></script>
</html>
